*{
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
}

header{
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    
    
    
}



.menu{
    position: sticky;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


h1{
color: rgb(61, 151, 151);
font-family: helvetica;
font-size: 40px;
padding-inline-start: 0%;
background-color: black;
display: inline-block;
text-align: center;

}

h1 span{
color: gold;
}






h2{
    color: gold;
    text-align: center;
    font-size: 60px;
background-color: rgb(0, 0, 0);
display: inline-block;



}


.subtitulo{
text-align: center;
}    




body{
    width:100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    


    


    
}

.copete{
    text-align: center;
}

h3{
    color: rgb(61, 151, 151);
    font-family: helvetica;
    font-size: 15px;
    padding-inline-start: 0%;
    background-color: black;
    display: inline-block;
 
}


.copete{
    text-align: center;
}




.pregunta{
    color: gold;
    text-align: center;
    font-size: 30px;
background-color: rgb(0, 0, 0);
display: inline-block;
}

/*-------------HEADEAR-------------*/


.principal{
    background-color: gold(255, 255, 255);
    display: inline-flex
    
    }

.principal a{
    border: 1px solid beige;
    color: gold;
    text-decoration: none;
  background-color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    box-shadow: 10px 10px 27px -4px black;
    -webkit-box-shadow: 10px 10px 27px -4px rgb 000;
    transition: 1s;

    border: 1px solid beige
    


}

.principal a:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1);
    width: 300px;
}






.contactos{
    background-color: gold(255, 255, 255);
    display: inline-flex
}

.contactos a{
    border: 1px solid beige;
    color: gold;
    text-decoration: none;
  background-color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    box-shadow: 10px 10px 27px -4px black;
    -webkit-box-shadow: 10px 10px 27px -4px rgb 000;
    transition: 1s;
}


.contactos a:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1);    
    width: 300px;
}






.sesion{
    background-color: gold(255, 255, 255);
    display: inline-flex
    
}

.sesion a{
    border: 1px solid beige;
    color: gold;
    text-decoration: none;
  background-color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    box-shadow: 10px 10px 27px -4px black;
    -webkit-box-shadow: 10px 10px 27px -4px rgb 000;
    transition: 1s;
}

.sesion a:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1);
    width: 300px;
}



.compra{
    background-color: gold(255, 255, 255);
    display: inline-flex
}

.compra a{
    border: 1px solid beige;
    color: gold;
    text-decoration: none;
  background-color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    box-shadow: 10px 10px 27px -4px black;
    -webkit-box-shadow: 10px 10px 27px -4px rgb 000;
    transition: 1s;


}

.compra a:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1);
    width: 300px;
}




.registrate{
    background-color: gold(255, 255, 255);
    display: inline-flex
}

.registrate a{
    border: 1px solid beige;
    color: gold;
    text-decoration: none;
  background-color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 50px;
    text-align: center;
    box-shadow: 10px 10px 27px -4px black;
    -webkit-box-shadow: 10px 10px 27px -4px rgb 000;
    transition: 1s;
}

.registrate a:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1);
    width: 300px;
}














 
.imagen1{
    width: 300px;
    height: auto;
    margin: auto;
display: flex;
justify-content: right;

}















/*------FOOTER-------*/

.pie-pagina{
    width: 100%;
    background-color:  rgb(61, 151, 151);

}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px
}

.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}




.pie-pagina .grupo1 .box figure img{
    width: 250px;

}



.pie-pagina .grupo1 .box h4{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}




.pie-pagina .grupo1 .box p{
    color: aliceblue;
    margin-bottom: 10px;

}


.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 600ms ease;


}
.pie-pagina .grupo1 .red-social a:hover{
    color: gold
}
    


.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;


}


.pie-pagina .grupo-2 small{
    font-size: 15px;

}
@media screen and (max-width:800px){
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}







    

